 <style>
   body {background-color: orange;}
 </style>
<div class="container col-9">

  <p>Do you need some support today?</p>
  <p>We are here for you!</p>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" }%>
      <%= f.input :password,
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "new-password" } %>

      <p>* Let's create your avatar! *</p>

      <div class="row">
        <div class="col">
          <%= f.input :background_color,
                  required: true,
                  as: :color,
                  input_html: { autocomplete: "background_color" } %>
        </div>
        <div class="col">
          <%= f.input :emoji,
                  required: true,
                  collection: ["ðŸ™", "ðŸ˜…", "ðŸ¤ª", "ðŸ¤“", "ðŸ¥¸", "ðŸ¤ ", "ðŸ‘€", "ðŸ", "ðŸ¦„", "ðŸž", "ðŸ£", "ðŸŒˆ", "ðŸ”", "ðŸ¶", "ðŸ®", "ðŸ°", "ðŸ­", "ðŸ™ˆ", "ðŸ™Š", "ðŸµ"],
                  input_html: { autocomplete: "emoji" } %>
        </div>
      </div>

      <%= f.input :nickname, as: :hidden %>

      <div class="preview-box">
        <div id="generate-nickname-btn" class="btn-primary btn-big-blue text-center" style="height: 38px; padding: 6px 12px;">
          Generate Nickname
        </div>

        <div class="d-flex justify-content-center avatar-nickname">
          <div id="avatar-preview" class="mt-2">
          </div>

          <div id="nickname-preview" class="mt-3 ml-2">
            <p id="preview"></p>
          </div>
        </div>
      </div>

    </div>

    <div class="form-actions">
      <%= f.button :submit, "Create Account", class: "btn-primary btn-big-blue" %>
      <% end %>
    </div>

<!-- according to Figma, we don't this part but in case you want to have, you just need to activate the code. -->
<!--     <p>Already a user?</p>
 -->    <%#- if controller_name != 'sessions' %>
      <%#= link_to "Log in", new_session_path(resource_name) %><br />
    <%# end %>

</div>
