 <style>
   body {background-color: orange;}
 </style>
<div class="container col-9">

  <h2 class="h2-login">Do you need some support today?</h2>
  <h2 class="h2-login">We are here for you!</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  label: false,
                  placeholder: "Email",
                  input_html: { autocomplete: "email" }%>
      <%= f.input :password,
                  required: true,
                  label: false,
                  placeholder: "Password",
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: true,
                  label: false,
                  placeholder: "Password confirmation",
                  input_html: { autocomplete: "new-password" } %>

      <h3 class="h3-login">Let's create your avatar!</h3>

      <div class="row">
        <div class="col">
          <%= f.input :background_color,
                  required: true,
                  label: "color",
                  as: :color,
                  input_html: { autocomplete: "background_color" } %>
        </div>
        <div class="col">
          <%= f.input :emoji,
                  required: true,
                  collection: ["ðŸ™", "ðŸ˜…", "ðŸ¤ª", "ðŸ¤“", "ðŸ¥¸", "ðŸ¤ ", "ðŸ‘€", "ðŸ", "ðŸ¦„", "ðŸž", "ðŸ£", "ðŸŒˆ", "ðŸ”", "ðŸ¶", "ðŸ®", "ðŸ°", "ðŸ­", "ðŸ™ˆ", "ðŸ™Š", "ðŸµ"],
                  input_html: { autocomplete: "emoji" } %>
        </div>
      </div>

      <%= f.input :nickname, as: :hidden %>

      <div class="preview-box">
        <div id="generate-nickname-btn">
          Generate Nickname
        </div>

        <div class="d-flex justify-content-around">
          <div id="avatar-preview">
          </div>

          <div id="nickname-preview">
            <p id="preview"></p>
          </div>
        </div>
      </div>

    </div>

    <div class="form-actions">
      <%= f.button :submit, "Create Account" %>
      <% end %>
    </div>

    <p>Already a user?</p>
    <%- if controller_name != 'sessions' %>
      <%= link_to "Log in", new_session_path(resource_name) %><br />
    <% end %>

</div>
