      <div class="header d-flex justify-content-center sticky-top">
        <div class="row">
          <div class="col-md-6">
              <div class="list-icons-nav-bar mt-2">
                <% if user_signed_in? %>
                    <div class="nav-item">
                      <div class="search-form-container">
                        <%= form_with url: search_index_path(name: :query), method: :get, local: true, class: 'form-inline search-form' do |form| %>
                        <%= form.text_field :query, value: params[:query], class: 'form-control mr-sm-1 input-field', placeholder: 'Search screw-ups' %>
                        <% end %>
                        <ul class="trending-hashtags">
                          <% @tags = Post.joins(:tags).group(:name).order('count(tags.name) desc').limit(10).count %>
                                <% @tags.each_pair do |key, value| %>
                                <h3>Trending hashtags</h3>
                                <li><h4>#<%= link_to key, hashtag_path(key) %> in <%= value %> <%= 'Post'.pluralize(value) %></h4></li>
                                <hr>
                                <% end %>
                        </ul>
                      </div>
                    </div>

                  <div class="header-icon notification-counter">
                    <% notifications = Notification.where(user: current_user, status: false) %>
                    <%= link_to notifications_path, id: "open_notification", data: { turbolinks: false }, class: "nav-link" do %>
                      <%= render 'notifications/counter', counter: notifications.count %>
                    <% end %>
                  </div>



                <% else %>
                  <li >
                    <%= link_to "Login", new_user_session_path %>
                  </li>
                <% end %>
              </div>
          </div>
        </div>
      </div>




