      <div class="header d-flex justify-content-center sticky-top">
        <div class="row">
          <div class="col-md-6">
            <ul>
              <div class="list-icons-nav-bar mt-2">
                <% if user_signed_in? %>
                    <div class="nav-item">
                      <%= form_with url: search_index_path(name: :query), method: :get, local: true, class: 'form-inline search-form' do |form| %>
                      <%= form.text_field :query, value: params[:query], class: 'form-control mr-sm-1', placeholder: 'Search screw-ups' %>
                    </div>
                    <% end %>

                  <div class="header-icon notification-counter">
                    <% notifications = Notification.where(user: current_user).reverse %>
                    <%= link_to notifications_path, id: "open_notification", class: "nav-link" do %>
                      <%= render 'notifications/counter', counter: notifications.count %>
                    <% end %>
                  </div>



                <% else %>
                  <li >
                    <%= link_to "Login", new_user_session_path %>
                  </li>
                <% end %>
              </div>
            </ul>
          </div>
        </div>
      </div>




