      <div class="header sticky-top d-flex justify-content-center">
        <div class="column">

        </div>
        <div class="row">
          <div class="col-md-6">
              <div class="list-icons-nav-bar mt-3">
                <% if user_signed_in? %>
                    <div class="nav-item">
                      <div class="search-form-container">
                        <%= form_with url: search_index_path(name: :query), method: :get, local: true, class: 'form-inline search-form' do |form| %>
                        <%= form.text_field :query, value: params[:query], class: 'form-control input-field', placeholder: ' Search for keywords and #hashtags' %>
                        <% end %>
                        <div class="trending-hashtags col-md-6">
                            <% @tags = Post.joins(:tags).group(:name).order('count(tags.name) desc').limit(7).count %>
                                  <h4 class="text-trending-hashtags">Trending hashtags</h4>
                                  <% @tags.each_pair do |key, value| %>
                                  <hr class="hr-trending-hashtags">
                                  <h4><span class="blur-hashtag" style="color: #5a54e3;">#<%= link_to key, hashtag_path(key), class: "clickable" %></span> in <%= value %> <%= 'Post'.pluralize(value) %></h4>
                                  <% end %>
                        </div>
                      </div>
                    </div>

                  <div class="header-icon notification-counter col-md-6">
                    <% notifications = Notification.where(user: current_user, status: false) %>
                    <%= link_to notifications_path, id: "open_notification", data: { turbolinks: false }, class: "nav-link" do %>
                      <%= render 'notifications/counter', counter: notifications.count %>
                    <% end %>
                  </div>
                <% else %>
                  <li >
                    <%= link_to "Login", new_user_session_path %>
                  </li>
                <% end %>
              </div>
          </div>
        </div>
      </div>




