 <style>
   body {background-color: #ffaa00;}
 </style>
<div class="container col-9">
  <div class="row d-flex justify-content-center">
    <div class="col-md-6">
      <div class="text-center mt-4">
        <div class="screw-headline-white">Do you need some support today? <br>
        We are here for you! </div>
      </div>
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs text-center">
        <%= f.input :email,
                    required: true,
                    label: false,
                    placeholder: "E-Mail",
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
        <%= f.input :password,
                    required: true,
                    label: false,
                    placeholder: "Password",
                    input_html: { autocomplete: "current-password" } %>
        <h4 class="text-center mt-4 mb-5"><%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %></h4>
      </div>
      <div class="d-flex justify-content-between mb-5 mt-4">
        <div class="form-actions">
          <%= f.button :submit, "Log in", class: "blue-button" %>
        <% end %>
        </div>
        <div class="">
          <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
            <%= link_to "Sign up", new_registration_path(resource_name), class: "white-button" %><br />
          <% end %>
        </div>
      </div>
      <div class="text-center">
        <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
          <h4 class="text-center">Forgot your password?</h4>
          <h4><%= link_to "click here!", new_password_path(resource_name), class: "mx-auto" %></h4><br />
      </div>
      <% end %>
<!--       <p>Not a user yet?</p>
 -->    </div>

  </div>
</div>
