 <style>
   body {background-color: orange;}
 </style>
<div class="container col-6">
  <div class="row">

      <p>Do you need some support today?</p>
      <p>We are here for you!</p>

      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-inputs">
          <%= f.input :email,
                      required: false,
                      autofocus: true,
                      input_html: { autocomplete: "email" } %>
          <%= f.input :password,
                      required: false,
                      input_html: { autocomplete: "current-password" } %>
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        </div>
        <div class="d-flex justify-content-between mb-4">
          <div class="form-actions mr-4">
            <%= f.button :submit, "Log in", class: "btn-primary btn-rounded-blue" %>
          </div>
          <% end %>
            <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
              <%= link_to "Sign up", new_registration_path(resource_name), class: "btn-info btn-rounded-white" %><br />
            <% end %>
        </div>

        <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
          <%= link_to "I forgot my password.", new_password_path(resource_name) %><br />
        <% end %>

        <p>Not a user yet?</p>
          <div>
          </div>

  </div>
</div>
