
<div class="container">
  <h1>Edit your post</h1>
  <%= simple_form_for @post do |f| %>
    <%= f.input :content, label: "Write a new post" %>
    <%= f.association :category, label: "Select a category", collection: Category.all %>
    <%= f.input :photo, as: :file %>
    <%= f.input :hide_content %>
    <%= f.input :hide_user %>
    <%= f.submit "Update your post", class: "btn btn-primary" %>

  <% end %>
</div>
