<div class="container">

  <div class="row d-flex justify-content-center ml-3">
    <div class="screwfeed">
      <h1 class="mt-5 screw-headline">Hottest screws</h1>
    </div>
  </div>

  <div class="column">
    <% @posts.each do |post| %>
    <div class="row d-flex justify-content-center">
      <div class="col-md-6">
        <div class="i-post-card">
          <div class="i-user-info">
            <% unless post.hide_user? %>
            <div class="d-flex justify-content-left">
              <div id="show-avatar-profile" style="background-color: <%= post.user.background_color %> ">
                <%= post.user.emoji %>
              </div>
              <div class="nickname">
                <div class='screw-nickname ml-2 mt-1'><%= post.user.nickname %></div>
              </div>
            </div>
            <% end %>
              <!--dropdown here with options to edit and delete post -->
              <div>
                <i class="bi bi-three-dots dropdown-toggle bi bi-app-indicator" data-toggle="dropdown"></i>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <%= link_to "Edit", edit_post_url(post), class: "dropdown-item" %>
                    <%= link_to "Remove", post_path(post), class: "dropdown-item",
                        method: :delete,
                        data: { confirm: "Are you sure?"} %>
                </div>
              </div>
            </div>

            <% unless post.hide_content? %>
              <p><%= render_with_hashtags(post.content) %></p>
            <% end %>
            <% if post.photo.attached? %>
              <img src="<%= (url_for(post.photo)) %>" style="width: 250px; height: 200px;">
            <% end %>

            <div class="post-reactions">
              <% user_reaction = post.reactions.find {|reaction| reaction.user_id == current_user.id} %>
              <% if user_reaction.present? %>
              <%= link_to "Unlike (#{post.reactions.count})", post_reaction_path(post, user_reaction),
                method: :delete %>
                <% else %>
                <%= link_to "Like (#{post.reactions.count})", post_reactions_path(post),
                  method: :post %>
              <% end %>
              <%= link_to post_path(post) do %>
                <span title="Comment"><i class="bi bi-chat-right"></i></span>
              <%= post.comments.count %>
              <% end %>
            </div>

        </div>
      </div>

    </div>

    <% end %>
  </div>but

</div>




