<div class="container mt-4 mb-4">
  <%= form_with url: search_index_path(name: :query), method: :get, local: true, class: 'form-inline search-form' do |form| %>
  <%= form.text_field :query, value: params[:query], class: 'form-control mr-sm-2', placeholder: 'Search screw-ups' %>
    <%= submit_tag("Search") %>
<% end %>
</div>
<div class="container">
  <div class="col-md-6">
    <h1>Screwfeed</h1>
  </div>

  <div class="column">
    <% @posts.each do |post| %>
    <div class="col-md-6">
          <% unless post.hide_content? %>
           <p><%= render_with_hashtags(post.content) %></p>
          <% end %>
          <% unless post.hide_user? %>
            <p><%= post.user.nickname %></p>
            <div id="show-avatar-profile" style="background-color: <%= post.user.background_color %> ">
              <%= post.user.emoji %>
            </div>
          <% end %>
          <% if post.photo.attached? %>
            <image src="<%= (url_for(post.photo)) %>" style="width: 250px; height: 200px;">
          <% end %>
          <%= link_to edit_post_url(post) do %>
            <span title="Edit the post"><i class="bi bi-screwdriver"></i></span>
          <% end %>
          <%= link_to post_path(post),
              method: :delete,
              data: { confirm: "Are you sure?"} do %>
            <span title="Delete the post"><i class="bi bi-trash" style="color:red;"></i></span>
          <% end %>
          <% user_reaction = post.reactions.find {|reaction| reaction.user_id == current_user.id} %>
          <% if user_reaction.present? %>
          <%= link_to "Unlike (#{post.reactions.count})", post_reaction_path(post, user_reaction), 
            method: :delete %>
            <% else %>
            <%= link_to "Like (#{post.reactions.count})", post_reactions_path(post), 
              method: :post %>
          <% end %>
          <%= link_to "View post", post_path(post), class: 'btn'%>
          
    </div>
    
    <% end %>
  </div>

</div>




