
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="screw-headline">It's a safe space</div>
      <%= simple_form_for @post do |f| %>
        <%= f.input :content,
                    label: false,
                    placeholder: "Write your post here",
                    required: true,
                    input_html: { autocomplete: "off" } %>
        <%= f.association :category,
                          label: "Select a category", collection: Category.all %>

        <%= f.input :photo, as: :file, class:"blue-button" %>
        <%= f.input :hide_content, label_html: { class: "screw-nickname" } %>
        <%= f.input :hide_user %>
        <%= f.submit "Create your post", class: "blue-button" %>
      <% end %>

    </div>
  </div>
</div>

