<div class="container mt-5">
  <div class="row d-flex justify-content-center">
    <div class="col-md-6">
      <div class="screw-post p-4">
              <div class="avatar-container">
                <% unless @post.hide_user? %>
                  <div id="show-avatar-profile" style="background-color: <%= @post.user.background_color %> ">
                    <%= @post.user.emoji %>
                  </div>
                  <div class='screw-nickname' ><%= @post.user.nickname %></div>
                <% end %>
              </div>

              <% unless @post.hide_content? %>
               <p><%= render_with_hashtags(@post.content) %></p>
              <% end %>
              <% if @post.photo.attached? %>
                <img src="<%= (url_for(@post.photo)) %>" style="width: 100%; height: auto; padding-bottom: 10px;">
              <% end %>
          <div class="post-reactions">
          <% user_reaction = @post.reactions.find {|reaction| reaction.user_id == current_user.id} %>
              <% if user_reaction.present? %>

                <%= link_to post_reaction_path(@post, user_reaction), method: :delete do %>
                <span title="Unlike"><i class="bi bi-heart-fill"></i></span>
                <%= @post.reactions.count %>
                <% end %>

                <% else %>
                <%= link_to post_reactions_path(@post), method: :post do %>
                <span title="Like"><i class="bi bi-heart"></i></span>
                 <%= @post.reactions.count %>
                <% end %>
              <% end %>
              <%= link_to post_path(@post) do %>
                <span title="Comment"><i class="bi bi-chat pl-3"></i></span>
              <%= @post.comments.count %>
              <% end %>
          </div>
        </div>
    </div>
  </div>




<div class="row d-flex justify-content-center">
  <div class="col-md-6">
    <div class="my-3 p-3">
      <div>
        <%= render 'comments/new', post: @post %>
      </div>
    </div>
      <% @post.comments.each do |comment| %>
      <div class="comment col-md-6">
        <div class="screw-post p-4">
          <div class="avatar-container">
            <div id="show-avatar-profile" style="background-color: <%= comment.user.background_color %> ">
                <%= comment.user.emoji %>
                </div>
                <div class='comment-author'><%= comment.user.nickname %></div>
              </div>
            <%= comment.content %>
            </div>
          </div>
      </div>
        </div>
      <% end %>
    <div class="margin-comments">
    </div>
  </div>
</div>
</div>

