<!DOCTYPE html>
<html>
  <head>
    <title>Screwapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body class="<%= "orange-bg" if @orange_background %>">
    <div class="d-flex flex-column min-vh-100">
    <% if current_user %>
    <%= render 'shared/header' %>
    <% end %>
    <br>
    <br>
      <article class="flex-grow-1">
        <%= yield %>
      </article>
    </div>
      <% if current_user %>
      <%= render 'shared/navbar' %>
      <% end %>
  </body>
</html>
